.total {
    width: 20rem;
    background: var(--zinc-9);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);

}

.title {
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    color: var(--gray-5);
}

.total p {
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    font-weight: 400;
    color: var(--red-500);
}