.total {
    padding: 0.75rem;
    width: 20rem;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    border-top: 1px solid var(--gray-100);
    margin-top: 2rem;
    margin-bottom: 2rem;
    transition: box-shadow 180ms ease;
    font-size: 2rem;
    box-shadow: 2px 2px 5px rgba(5, 199, 233, 0.1);

}

.total p {
    margin-top: 1rem;
    color: var(--red-500);
}