.total {
    width: 20rem;
    background: var(--zinc-9);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);

}

.title {
    padding: 1rem;
    background: linear-gradient(to right, var(--green-6), var(--green-4));
    display: flex;
    color: white;
}

.total p {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 300;
    color: var(--red-500);
}