.total {
    width: 20rem;
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    box-shadow: 2px 2px 5px rgba(5, 199, 233, 0.1);

}

.title {
    padding: 1rem;
    background-color: rgb(0, 110, 255);
    display: flex;
    color: white;
}

.total p {
    margin-top: 1rem;
    padding: 1rem;
    font-weight: 300;
    color: var(--red-500);
}