.debitListContainer {
    border-radius: 1rem;
    width: 75rem;
    background: white;
    box-shadow: var(--box-shadow);
}

.debit {
    border-radius: 2rem;
    border-bottom: 2rem solid white;
}

.title {
    display: flex;
    color: white;
    border-radius: 1rem 1rem 0 0;
    background: linear-gradient(to right, var(--green-6), var(--green-4));
    padding: 1rem;
    justify-content: space-between;
}

.addDebitButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.debitListContainer .addDebitButton:hover {
    background: black;
    color: white;
}

.debitListTableContainer {
    background-color: var(--zinc-9);
    border-radius: 0rem 0rem 1rem 1rem;
    overflow-y: auto;
    height: 30rem;
}

.theadTable {
    position: sticky;
    top: 0;
}

.debitListTable {
    width: 100%;
}

.debitListTable th,
.debitListTable td {
    color: white;
    border-bottom: 1px solid var(--gray-4);
    padding: 0.75rem;
    text-align: left;
    background-color: var(--zinc-9);
}

.bodyTable {
    border-bottom: white 2rem solid;
}