.debitListContainer {
    border-radius: 1rem;
    width: 75rem;
    max-height: max-content;
    background-color: var(--zinc-9);
    box-shadow: var(--box-shadow);
}

.debit {
    border-radius: 2rem;
    border-bottom: 2rem solid white;
}

.title {
    display: flex;
    color: var(--gray-5);
    border-radius: 1rem 1rem 0 0;
    border-bottom: solid rgba(88, 88, 88, 0.397) 1px;
    padding: 2rem;
    justify-content: space-between;
}

.title h2 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchForm {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.searchForm input {
    background: var(--zinc-9);
    border: none;
    align-items: center;
    margin-right: 20rem;
    border-bottom: 2px solid var(--gray-7);
    padding: 0.75rem 1rem;
    color: white;
    width: 15rem;
}

.searchForm input:focus {
    box-shadow: none;
    outline: none;
}

.searchForm input:focus::placeholder {
    color: var(--gray-5);
}

.addDebitButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.debitListContainer .addDebitButton:hover {
    background: var(--button-background-hover);
    color: white;
}

.debitListTableContainer {
    padding: 0 2rem 0 2rem;
    max-height: max-content;
    border-radius: 0rem 0rem 1rem 1rem;
}