.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.deleteButton {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.editButton {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.debit .deleteButton:hover {
    color: red;
}

.debit .editButton:hover {
    color: skyblue;
}

.confirmationContent h2 {
    display: flex;
    align-items: center;
}

.confirmationButtons {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-top: 2rem;
    gap: 2rem;
}

.yesButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.noButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.noButton:hover {
    background: black;
    color: white;
}

.yesButton:hover {
    background: rgb(243, 40, 40);
    color: white;
}