.header {
    background: var(--zinc-9);
    display: flex;
    padding: 0.2rem 0.2rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

.header img {
    width: 50px;
    margin: 30px;
}

.headerLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-left: auto;
    cursor: pointer;
    transition: all 125ms;
}

.profileButton {
    color: white;
    border: 1px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    cursor: pointer;
}

.logoutButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    background: transparent;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.header .logoutButton:hover {
    background: linear-gradient(to right, var(--green-6), var(--green-4));
}