.sidebar {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.75rem;
    padding-top: 1.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--zinc-9);
    box-shadow: var(--box-shadow);
}

.sidebar a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    cursor: pointer;
    transition: all 125ms;
    text-decoration: none;
}

.sidebar a:hover {
    background: var(--button-background-hover);
    color: white
}