.sidebar {
    padding: 0.75rem;
    width: 20rem;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(5, 199, 233, 0.1);
}

.sidebar img {
    width: 50px;
    margin: 20px;
}

.sidebarLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: var(--black);
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    cursor: pointer;
    transition: all 125ms;
}

.sidebar a:hover {
    background-color: black;
    color: white
}