.sidebar {
    margin-top: 2rem;
    margin-left: 2rem;
    padding: 0.75rem;
    padding-top: 1.5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    background-color: var(--zinc-9);
    box-shadow: 2px 2px 5px rgba(125, 255, 19, 0.185);
}

.sidebar a {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: white;
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
    cursor: pointer;
    transition: all 125ms;
}

.sidebar a:hover {
    background: linear-gradient(to right, var(--green-6), var(--green-4));
    color: white
}