.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.registerContainer {
    margin: 0;
    padding: 2rem;
    border-radius: 1rem;
    width: 30rem;
    border: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--zinc-9);
    box-shadow: var(--box-shadow);
    font-weight: bold;
    font-size: 1rem;
}

.registerContainer form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}

.registerContainer label {
    margin-top: 0.2rem;
}

.registerContainer input {
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: var(--gray-5);
    margin-bottom: 1rem;
    background: var(--zinc-9);
    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.registerContainer form button[type=submit] {
    align-items: center;
    background: transparent;
    color: var(--gray-5);
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.registerContainer form button[type=submit]:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.registerContainer form button[type=submit]:not(:disabled):hover {
    background: var(--button-background-hover);
    color: white;
}

.registerContainer a {
    color: white;
}