:root {
    --black: #000000;
    --white: #FFFFFF;
    --gray-100: #E1E1E6;
    --gray-200: #CFCFD4;
    --gray-300: #C4C4CC;
    --gray-400: #8D8D99;
    --gray-600: #323238;
    --gray-700: #29292E;
    --gray-800: #202024;
    --gray-900: #121214;

    --green-500: #00875F;
    --red-500: #F75A68;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    color: var(--black);
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}