.formsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.formsContent {
    background: white;
    padding: 2.5rem;
    border-radius: 8px;
    position: relative;
    min-width: 25rem;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.formsBody label {
    display: flex;
    font-weight: bold;
    font-size: 1rem;
    color: #555;
}

.formsBody input {
    margin-top: 0.2rem;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;

    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.selectCategory {
    margin-top: 0.2rem;
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;

    box-sizing: border-box;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.closeButton {
    border: none;
    color: gray;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    background: none;
    cursor: pointer;
}

.submitButton {
    margin-top: 2rem;
    margin-left: 12rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: transparent;
    color: var(--black);
    border: 1px;
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 125ms;
}

.submitButton:hover {
    background: black;
    color: white;
}